

/* src/CenteredContent.css */
.centered-container {
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Light background color */
}

.content {
  padding: 20px 100px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content span {
  color: #a12729;
}

.centered-container .zero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}